{% extends "c-base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block pageTitle %}Company Dashboard{% endblock %}

{% block content %}

<!-- ================= CARDS ================= -->

<div class="cards-container">

    <div class="card-box">
        <div>
            <h4>Total Jobs Posted</h4>
            <h2>{{ total_jobs }}</h2>
        </div>
        <i class="fa-solid fa-briefcase"></i>
    </div>

    <div class="card-box">
        <div>
            <h4>Total Applicants</h4>
            <h2>{{ total_applications }}</h2>
        </div>
        <i class="fa-solid fa-user-group"></i>
    </div>

    <div class="card-box">
        <div>
            <h4>Shortlisted Candidates</h4>
            <h2>{{ shortlisted_count }}</h2>
        </div>
        <i class="fa-solid fa-circle-check success-icon"></i>
    </div>

</div>


<!-- ================= ACTIVE JOBS ================= -->

<h2 class="section-title">Active Positions</h2>

<div class="carousel-wrapper">

    <button class="carousel-btn left" onclick="scrollCarousel(-1)">
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <div class="carousel-track" id="carouselTrack">

        {% for job in jobs %}
        <div class="job-card">
            <h4 class="mb-3">{{ job.job_title }}</h4>

            <p>
                <i class="fa-solid fa-location-dot me-3"></i>
                {{ job.location }}
            </p>

            <p>
                <i class="fa-solid fa-users me-2"></i>
                {{ job.applications.count }} Applicants
            </p>

            <p class="mb-4">
                <i class="fa-solid fa-briefcase me-3"></i>
                {{ job.get_job_type_display }}
            </p>

            <small>
                Posted {{ job.time_display }}
            </small>
        </div>
        {% empty %}
        <p>No jobs posted yet.</p>
        {% endfor %}

    </div>

    <button class="carousel-btn right" onclick="scrollCarousel(1)">
        <i class="fa-solid fa-chevron-right"></i>
    </button>

</div>

<script>
    function scrollCarousel(direction) {
        const track = document.getElementById("carouselTrack");
        const card = track.querySelector(".job-card");

        if (!card) return;

        const cardWidth = card.offsetWidth + 20; // card width + gap
        track.scrollLeft += direction * cardWidth;
    }
</script>

{% endblock %}