{% extends 'c-base.html' %}
{% load static %}
{% block title %}Applicants{% endblock %}
{% block pageTitle %}Applicants{% endblock %}

{% block content %}
<div class="col-12 d-flex flex-row justify-content-start mb-5">
    <a href="javascript:history.back()" style="text-decoration: none; color: #64748B;">
        <div class="row d-fle flex-row justify-content-start align-items-center">
            <span><i class="fa-regular fa-circle-left fs-4 me-3"></i>
                <span class="fs-4">Back</span>
            </span>
        </div>
    </a>
</div>
<div class="job-container">

    <!-- Job Heading -->
    <h3 style="margin-bottom:20px;">
        Applicants for: {{ job.job_title }}
    </h3>

    <div class="table-box">
        <table>
            <thead>
                <tr>
                    <th>Applicant Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Applied On</th>
                    <th>Resume</th>
                </tr>
            </thead>

            <tbody>
                {% for application in applications %}
                <tr>

                    <td>
                        <a href="{% url 'view-applicant-profile' job.id %}?application={{ application.id }}"
                            class="applicant-link">
                            <u>
                                {{ application.job_seeker.user.first_name }}
                                {{ application.job_seeker.user.last_name }}
                            </u>
                        </a>

                    </td>

                    <td>
                        {{ application.job_seeker.user.email }}
                    </td>

                    <td>
                        {{ application.job_seeker.phone|default:"-" }}
                    </td>

                    <!-- Application Status -->
                    <td>
                        <span class="status {{ application.application_status }}">
                            {{ application.get_application_status_display }}
                        </span>
                    </td>

                    <td>
                        {{ application.applied_date|date:"M d, Y" }}
                    </td>

                    <td>
                        {% if application.job_seeker.resume %}
                        <a href="{{ application.job_seeker.resume.url }}" target="_blank" class="view-btn">
                            View Resume
                        </a>
                        {% else %}
                        -
                        {% endif %}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no-data">
                        No applicants yet.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}