{% extends 'c-base.html' %}
{% block title %}Post a Job{% endblock %}
{% block pageTitle %}Post a Job{% endblock %}

{% block content %}


<div class="card company-content-card mx-3 my-0 p-5">

    
    <form method="POST" action="{% if job %}{% url 'edit_job' job.id %}{% else %}{% url 'job-post' %}{% endif %}">
        {% csrf_token %}


        <div class="form-row">
            <div class="form-group">
                <label>Job Title</label>
                <input type="text" name="job_title" class="form-control" value="{{ job.job_title|default:'' }}"
                    required>
            </div>

            <div class="form-group">
                <label>Location</label>
                <input type="text" name="location" class="form-control" value="{{ job.location|default:'' }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Required Experience (Years)</label>
                <input type="text" name="required_experience" placeholder="Eg: 3-5 years" class="form-control"
                    value="{{ job.required_experience|default:'' }}" required>

            </div>
        </div>
        <div class="form-row three-column">
            <div class="form-group">
                <label>Employment Type</label>
                <select name="job_type" class="form-control" required>
                    <option value="">Select</option>
                    <option value="full_time" {% if job and job.job_type == "full_time" %}selected{% endif %}>Full Time
                    </option>
                    <option value="part_time" {% if job and job.job_type == "part_time" %}selected{% endif %}>Part Time
                    </option>
                    <option value="internship" {% if job and job.job_type == "internship" %}selected{% endif %}>Internship
                    </option>
                    <option value="contract" {% if job and job.job_type == "contract" %}selected{% endif %}>Contract
                    </option>
                    <option value="remote" {% if job and job.job_type == "remote" %}selected{% endif %}>Remote</option>
                </select>
            </div>
            <div class="form-group">
                <label>Salary Range</label>
                <input type="text" name="salary" placeholder="Eg: 3-6 LPA" class="form-control"
                    value="{{ job.salary|default:'' }}" required>
            </div>
            <div class="form-group">
                <label>Application Deadline</label>
                <input type="date" name="deadline" class="form-control" value="{{ job.deadline|date:'Y-m-d' }}"
                    required>
            </div>
        </div>
        <div class="form-group mb-3">
            <label>Required Skills</label>
            <input type="text" name="skills_required" placeholder="Eg: Django, React" class="form-control"
                value="{{ job.skills_required|default:'' }}" required>
        </div>
        <div class="form-group">
            <label>Job Description</label>
            <textarea name="job_description" rows="4" class="form-control"
                required>{{ job.job_description|default:'' }}</textarea>
        </div>
        <div class="btn-center">
            <button type="submit" class="btn btn-primary px-4 py-2 rounded-3 c-save-btn">Post Job</button>
        </div>

    </form>
</div>

{% endblock %}